// base colours
$-white: #ffffff;
$-dark-grey: #222222;

// component colours
$application-background: $-dark-grey;
$button-primary-text: $-white;
$button-primary-background: $-white;
$header-border: $-white;
$paragraph-primary-text: $-white;
