@use "src/styles/colors";

.average-value-display {
  max-width: 500px;
  text-align: center;
  &__text {
    color: colors.$paragraph-primary-text;
    font-size: 25px;
    margin-bottom: 0;
  }

  &__value {
    color: colors.$paragraph-primary-text;
    font-size: 50px;
    margin-top: 0;
  }
}
